# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Database
data/dnstt.db
data/dnstt.db-journal
*.sqlite3

# Logs
*.log

# C Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
